{% extends 'tasks/layout.html' %}

{% block body %}

    <h3>Add new task</h3>

    <form action="{% url 'tasks:add_task' %}" method="post">
        {% csrf_token %}

        <label for="field_comps">Component:</label>
        <select id="field_comps" name="comp_ids" multiple required>
            {% for c in components %}
                <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
        </select><br><br>

        <label for="field_task_name">Task: </label>
        <input id="field_task_name" type="text" name="task_name" size="100" required><br><br>

        <label for="field_task_interval">Task interval</label>
        <select id="field_task_interval" name="task_interval">
            {% for i in intervals %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <label for="task_responsibility">Responsibility</label>
        <select name="task_responsibility">
            {% for r in responsibilities %}
                <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" name="save_task" value="Save task">
        <input type="submit" name="save_and_add" value="Save and add another">

    </form>

    <br><br><a href="{% url 'tasks:add_task' %}" type="button">Clear all data</a>
    <br><a href="{% url 'tasks:index' %}">Back to Index page</a>

{% endblock %}
