{% extends 'tasks/layout.html' %}

{% block body %}

    <form action="{% url 'tasks:add_component' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" name="save_comp" value="Save component" size="50">
        <input type="submit" name="save_and_add" value="Save and add another">

    </form>
     
    <br><br><a href="{% url 'tasks:add_component' %}" type="button">Clear all data</a>
    <br><a href="{% url 'tasks:index' %}">Back to Index page</a>

{% endblock %}
