img {
    width: 300px;
}

input[type=search] {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

input[type=submit]{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
