{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Welcome to WSS</title>
        <link rel="stylesheet" href="{% static 'welcome/styles.css' %}">
    </head>
    <body>

        <h3>Hello {{ name }}! Welcome to WSS</h3>
        <p>This page contains the framework of the overall project.</p>

        <h2>1. Component definer</h2>
        <ul>
            <li>Add/ define a new component</li>
            <li>Type: pipe, intake, treatment unit, storage, valve ...</li>
            <li>Material ? </li>
            <li></li>
        </ul>
        <h2>2. Task definer</h2>
        <ul>
            <li>FK: component</li>
            <li>Frequency</li>
            <li>Type: PPM, Operations, Maintenance</li>
            <li>FK: Input, Unit cost</li>
            <li>Quantity</li>
        </ul>
        <h2>3. Scheme creator</h2>
        <ul>
            <li>Name</li>
            <li>Select components</li>
            <li></li>
        </ul>
        <h2>4. Unit costs</h2>
        <ul>
            <li>Input name</li>
            <li>Unit cost</li>
            <li>Base year</li>
        </ul>
    </body>
</html>
