{% extends "components/layout.html" %}

{% block body %}

    <h1>Components</h1>

    <h3>Tanks</h3>
    <ul>
        {% for t in tanks %}
            <li><a href="{% url 'components:tank' tank_id=t.id %}">Tank {{t.id}}</a>: {{ t.construction_material }} {{ t.capacity }} {{ t.color }}</li>
        {% empty %}
            <li>No tanks added.</li>
        {% endfor %}
    </ul>

    <h3>Schemes</h3>
    <ul>
        {% for scheme in schemes %}
            <li>{{ scheme.scheme_name }}</li>
        {% empty %}
            <li>No schemes added.</li>
        {% endfor %}
    </ul>

    <h3>Treatment Processes</h3>
    <ul>
        {% for tp in treatment_processes %}
            <li>{{ tp.treatment_type }}: {{ tp.process_name }}</li>
        {% empty %}
            <li>No treatment processes added yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
