{% extends 'components/layout.html' %}

{% block body %}

    <h2>Scheme: {{ scheme.id }}</h2>

    <ul>
        <li>Name of WSS: {{ scheme.scheme_name }}</li>
        <li>District: {{ scheme.district }}</li>
    </ul>

    <h2>Tanks</h2>
    <ul>
        {% for t in tanks %}
            <li>{{ t }}</li>
        {% empty %}
            <li>No tanks!</li>
        {% endfor %}
    </ul>

    <h2>Treatment Processes</h2>
    <ul>
        {% for tp in treatment_processes %}
            <li>{{ tp }}</li>
        {% empty %}
            <li>No treatment!</li>
        {% endfor %}
    </ul>

    <h2>Add Tank</h2>

    <form action="{% url 'components:add_tank' scheme.id %}" method="post">
        {% csrf_token %}
        <select name="selected_tank">
            {% for tank in unavailable_tanks %}
                <option value="{{ tank.id }}">{{ tank }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

{% endblock %}
