{% extends "components/layout.html" %}

{% block body %}

    <h2>Tank {{ tank.id }}</h2>

    <ul>
        <li>Capacity: {{ tank.capacity }}</li>
        <li>Construction Material: {{ tank.construction_material }}</li>
        <li>Color: {{ tank.color }}</li>
        <li>Has a ball valve: {{ tank.has_ball_valve }}</li>
        <li>Has an overflow: {{ tank.has_overflow }}</li>
        <li>Has a washout: {{ tank.has_washout }}</li>
        <li>Has a chamber: {{ tank.has_chamber }}</li>
        <li>Has a bulkmeter: {{ tank.has_bulkmeter }}</li>
    </ul>

    <h2>Schemes</h2>

    <ul>
        {% for scheme in schemes %}
            <li>{{ scheme }}</li>
        {% empty %}
            <li>No schemes...</li>
        {% endfor %}
    </ul>

{% endblock %}
